.nav-user,.card-body{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
.nav{
    position: fixed;
    min-width: 296px;
    min-height: 100vh;
    .nav-list{
        min-height: 90vh;
    }
    &-link:hover{
        color: $secondary;
        margin-left: -32px;
        padding-left: 44px;
        border-left: 4px solid $secondary;
    }
}

main{
    margin-left: 296px;
}

.fa-angle-down,.fa-magnifying-glass{
    font-weight: 900;
}