<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> <%- title %> </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  

  <nav class="nav d-flex flex-column bg-light">
    <div class="nav-list d-flex flex-column justify-content-between">
      <ul class="d-flex flex-column align-content-center ms-8">
        <li class="my-2"><a href="index.html"><h1 class="ms-4 mt-8"><img src="./assets/images/logo-ANSWER.svg" alt="logo"></h1></a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">assessment</span>Dashboard</a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">question_answer</span>Question</a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">assignment</span>Assignment</a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">shop_2</span>Course</a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">people</span>Admin</a></li>
        <li class="my-2"><a href="#" class="nav-link d-flex align-items-center"><span class="me-4 material-icons">settings</span>Settings</a></li>
      </ul>
      <div class="nav-user d-flex ">
        <img class="ms-4" src="./assets/images/andychen.jpeg" alt="img">
        <ul class="d-flex flex-column ms-4">
          <li><h3 class="fs-6">Andy Chen</h3></li>
          <li><a class="fs-7" href="andy0401@mail.com">andy0401@mail.com</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main>
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-4 mx-8 my-8">
          <ul class="d-flex justify-content-between">
            <li><p class="fs-4 fw-bold">Assignment</p></li>
            <li><p class="fs-5 fw-bold">All Courses<a class="ms-2" href="#"><i class="fa-regular fa-angle-down text-secondary"></i></a></p></li>
          </ul>
        </div>
        <div class="col-2 my-8 my-8">
          <ul class="d-flex jucstify-content-between align-items-center">
            <li class="mx-3"><a href="#"><i class="fa-regular fa-magnifying-glass fa-xl"></i></a></li>
            <li class="mx-3"><a href="#"><span class="material-symbols-outlined md-24">notifications_active</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  
  <%- contents %>

  


  
  
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
